@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Rubik:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);

:root {
    --timeToFade: 4s;
}


html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("assets/images/017-Subtle-light-patterns-Vol04.png");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
}

.container section {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    margin-bottom: 200px;
}

li {
    display: inline;
}

h1 {
    color: black;
    font-family: Nanum Myeongjo;
    margin: 1px;
}

p {
    color: black;
    font-family: Nanum Myeongjo;
}

.lineUp {
    animation: 2s anim-lineUp ease-out;
    animation-delay: calc(.2s * var(--i));
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    color: black;
    font-family: Nanum Myeongjo;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 110px;
    height: 50px;
    border-radius: 100%;
    margin-right: auto;
}

.nav_links {
    display: flex;
    list-style: none;
    width: 100%;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

#wrap {
    float: left;
    position: relative;
    left: 50%;
}

#content {
    float: left;
    position: relative;
    left: -50%;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-child {
    display: flex;
    flex: 0 1 auto;
    /*border: 2px solid yellow;*/
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;

}

.flex-child:first-child {
    margin-right: 0px;
    margin-left: 0px;
}

.profile {
    width: 600x;
    height: 500px;
    border-radius: 100%;
    filter: grayscale(100%);
    animation: fadeIn var(--timeToFade);
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#image-track {
    display: flex;
    gap: 4vmin;
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    transform: translate(50%, 25%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }
  
  #image-track > .hover-img > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 10%;
  }

  #image-track > .hover-img > figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .centered {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -30%;
    opacity: 0;
  }